
<h3>Application For:</h3><br>


<%= form_with model: @application, url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name, value: @application.name %><br>
  <%= form.label :street_address %><br>
  <%= form.text_field :street_address, value: @application.street_address %><br>
  <%= form.label :city %><br>
  <%= form.text_field :city, value: @application.city %><br>
  <%= form.label :state %><br>
  <%= form.text_field :state, value: @application.state %><br>
  <%= form.label :zip_code %><br>
  <%= form.text_field :zip_code, value: @application.zip_code %><br>
  <%= form.label :description %><br>
  <%= form.text_field :description, value: @application.description %><br>
  <%= form.label :status %><br>
  <%= form.text_field :status, value: @application.status %><br>
  <%= form.label :pets %><br>
  <% @application.pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}", method: :get %><br>
  <% end %>
  <%= form.submit "Submit" %><br>
<% end %>
